.title {
    font-weight: bold;
}

.messages {
    margin-top: 20px;
    background: cornflowerblue;
}

.message {
    margin-top: 10px;
    border-top: 1px dashed black;
}

.form {
    margin-top: 20px;
}
